// COLOR
$primary: hsl(0, 0%, 4%);
$secondary: hsl(0, 0%, 100%);
$orange: #F69F19;

$footer-background-color:  hsl(0, 0%, 4%); 

// FONT
// custom fonts
$family-primary: 'Quattrocento Sans', sans-serif;
$family-secondary: 'Playfair Display', serif;
// custom pref
$title-color: $primary;
//$size-5: 1.2rem;
$footer-padding: 1rem 1.5rem 1rem;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quattrocento+Sans');
@import "~bulma/bulma";

// BUTTONS
.button-santoro{
    background-color: inherit;
    border: none;
    border-radius: 0px;
}

.santoro-arrow{
    transition: all 500ms ease-in-out;
    margin: 5px 0 0 0;
}

.arrow-mask{
    position: absolute;
    left: -15px;
    top: 0px;
    width: 10px;
    clip: rect(0px,28px,40px,0px);
    background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
  }

.button-santoro::after,
.button-santoro::after{
    content: '';
    position: absolute;
    top: 25px;
    left: 22px;
    width: 0px;
    height: 10px;
    border-bottom: 4px double $primary;
    transition: all 200ms ease-out;
}

.button-santoro.is-hovered::after,
.button-santoro:hover::after{
    content: '';
    position: absolute;
    top: 25px;
    right: 12px;
    width: 35px;
    height: 10px;
    border-bottom: 4px double $primary;
}

.button-santoro.is-hovered>.arrow-mask>.santoro-arrow,
.button-santoro:hover>.arrow-mask>.santoro-arrow{
    transform: translateX(55px);
}

.next-to-icon{
    margin-left: 10px;
}

// NAVI
.nav-border{
    width: 100vw;
    height: 2px;
    background: url(./nav-line.png) no-repeat center center;
    background-size: cover;
}

// BODY

.santoro-breadcrumb,
.santoro-breadcrumb-mobile{
    margin-bottom: 30px;
}

.santoro-breadcrumb-mobile::after{
    content: '';
    position: absolute;
    top: 13px;
    left: 90px;
    background: $primary;
    width: 70%;
    height: 1px;
}

.body-bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.body-bg::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background: url(./bg-bw.png) no-repeat 20% 100%;
    background-size: cover;
}

// HEADLINES
.title-o-underline::after{
    content: ' ';
    display: block;
    position: relative;
    top: -26px;
    right: -73px;
    width: 230px;
    height: 17px;
    opacity: 0.8;
    background: $orange;
    z-index: -1;
}

// PARAGRAPHS

.p-after-h{
    margin-top: 30px;
}


