// COLOR
$primary: hsl(0, 0%, 4%);

// FONT
// custom fonts
$family-primary: 'Playfair Display', serif;
$family-secondary: 'Quattrocento Sans', sans-serif;
// custom pref
$title-color: $primary;

// NAVI
.nav-border{
    width: 100vw;
    height: 2px;
    background: url(./nav-line.png) no-repeat center center;
    background-size: cover;
}

// BODY
.body-bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.body-bg::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background: url(./bg-bw.png) no-repeat 20% 100%;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quattrocento+Sans');
@import "~bulma/bulma";