// COLOR
$primary: #0a0a0a;
$secondary: #ffffff;
$orange: #F69F19;
$grey: #8a888b;

$footer-background-color:  #0a0a0a; 

// FONT

// custom fonts
$family-primary: 'Quattrocento Sans', sans-serif;
$family-secondary: 'Playfair Display', serif;
// custom pref
$title-color: $primary;
//$size-5: 1.2rem;
$footer-padding: 1rem 1.5rem 1rem;

// ANIMATION

// orange underline

$bezier-1: cubic-bezier(0.22, 0.61, 0.36, 1);

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quattrocento+Sans');
@import "~bulma/bulma";

// ALIGNMENTS

.vcenter{
    align-items: center;
}

.hcenter{
    align-self: center;
}

// BUTTONS

// reset
button{
    color: unset;
    background: unset;
    border: none;
}

// primary button
.button-santoro{
    background-color: inherit;
    border: none;
    border-radius: 0px;
    font-size: $size-5;
    letter-spacing: 0.6px;
    margin: 40px 0 0 0;
}

.santoro-arrow{
    transition: all 500ms ease-in-out;
    margin: 7px 0 0 0;
    width: 32px;
    height: 32px;
}

.arrow-mask{
    position: absolute;
    left: -19px;
    top: 0px;
    width: 10px;
    clip: rect(0px, 35px, 40px, 0px);
    background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
  }

.button-santoro::after,
.button-santoro::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 25px;
    width: 0px;
    height: 10px;
    border-bottom: 4px double $primary;
    transition: all 200ms ease-out;
}

.button-santoro.is-hovered::after,
.button-santoro:hover::after{
    content: '';
    width: 45px;
}

.button:focus:not(:active), .button.is-focused:not(:active){
    box-shadow: none;
    color: $grey;
}

.button-santoro.is-hovered>.menu-link>.arrow-mask>.santoro-arrow,
.button-santoro:hover>.menu-link>.arrow-mask>.santoro-arrow{
    transform: translateX(55px);
}

.next-to-icon{
    margin-left: 10px;
}

// secondary button

.button-santoro-secondary{
    border-radius: 0px;
    font-size: $size-6;
    color: $secondary;
    &:hover{
        color: $secondary;
        text-decoration: underline;
    }
}

// to top button
.scroll-top-button{
    padding: 0;
    transition: all 0.3s;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
    @include desktop {
      font-size: 1.3em;
    }
    &:focus{
        outline: none;
    }
  }

// accordeon-button

.acc-arrow, .acc-arrow-2{
    transform: rotate(90deg);
    transition: 0.55s;
    margin-top: 0.1rem;
    margin-right: 1em;
    align-self: center;
  }

  .up{
    transform: rotate(270deg)
  }

// NAVI
.nav-border{
    width: 100vw;
    height: 2px;
    background: url(./nav-line.png) no-repeat center center;
    background-size: cover;
}

.navbar-item:hover{
    color: unset !important
}

.menu-item-1, .menu-item-2{
    transition: all 0.3s;
}

.burger-santoro.is-hovered > svg > g > g > .menu-item-1,
.burger-santoro:hover > svg > g > g > .menu-item-1{
    transform: translateY(60px);
}

.burger-santoro.is-hovered > svg > g > g > .menu-item-2,
.burger-santoro:hover > svg > g > g > .menu-item-2{
    transform: translateY(-40px);
}

// BODY
body{
    scroll-behavior: smooth;
    color: $primary;
}

.santoro-breadcrumb,
.santoro-breadcrumb-mobile{
    margin-bottom: 2em;
    @include tablet{
        margin-bottom: 5em;
    }
}

.santoro-breadcrumb{
    @include fullhd{
        margin-top: 4em;
    }
}

.santoro-breadcrumb-mobile::after{
    content: '';
    position: absolute;
    top: 13px;
    left: 90px;
    background: $primary;
    width: 70%;
    height: 1px;
}

.body-bg{
    width: 100%;
    height: 100%;
    min-height: 85vh;
    position: relative;
    transition: all 1s;
    @include desktop {
        min-height: 82vh;
    }
    @include fullhd {
        min-height: 85vh;
    }
}

.body-bg::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.075;
    background: url(./bg-bw.png) no-repeat 20% 100%;
    background-size: cover;
    transition: all 1s;
}

.toggle-bg::before{
    background: unset !important;
    transition: all 1s;
}


// HEADLINES

.title-o-underline{
    opacity: 0;
    animation: appearHeadl 2s $bezier-1 forwards;
    @include desktop{
        font-size: 3.5em !important;
    }
}

@keyframes appearHeadl{
    100% { opacity: 1; }
}

.title-o-underline::after{
    content: ' ';
    display: block;
    position: relative;
    top: -21px;
    right: -73px;
    width: 0px; // 230px
    height: 17px;
    opacity: 0.75;
    background: $orange;
    z-index: -1;
    @include tablet{
        right: -12em;
    }
}

.t-o-u-main::after{
    animation: smallLine 1.6s $bezier-1 0.5s forwards;
}

@keyframes smallLine {
    100% { width: 230px; }
}

.title-o-underline-toggle{
    font-size: 2em !important;
    @include desktop{
        font-size: 3.5em !important;
    }
}

.title-o-underline-toggle::after{
    content: ' ';
    top: -14px;
    right: -30px;
    width: 90px;
    height: 10px;
}

.title.not-bold{
    font-weight: 400;
}

.title{
    letter-spacing: 1px;
    line-height: 1.3;
}

// PARAGRAPHS

.p-after-h{
    margin-top: 3em;
    font-size: $size-5;
    transform:  translateY(-13px);
    opacity: 0;
    animation: appearPara 1.6s $bezier-1 0.5s forwards;
    @include tablet{
        font-size: 1.3em;
        width: 60%;
    }
    @include fullhd{
        margin-top: 4em;
    }
}

@keyframes appearPara {
    100% {
        transform:  translateY(0px);
        opacity: 1;
    }
}

// CURSOR
.cursor-pointer{
    cursor: pointer;
}

// NAVIGATION
.container-navigation-menu{
    margin: 11em auto 0 auto;
    @include tablet {
      max-width: 19em;
      width: 19em;
      margin: 8em auto 0 auto;
    }
}

.menu-link .title{
    @include tablet{
        font-size: 3.5em;
        margin-bottom: 0.5em
    }
}

.menu-link-main.router-link-exact-active:after,
.menu-link-main:hover:after,
.menu-link-main:after{
    @include tablet{
        top: -4em !important;
    }
}